@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BabaPro Bold';
  src: url('/fonts/babapro/BabaPro-Bold.ttf');
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 13, 13, 13;
  /* color blue */
  --color-blue: #3880ff;
  --color-blue-tint: #4c8dff;
  --color-blue-shade: #3171e0;
  /* color yellow */
  --color-yellow: #ffc409;
  --color-yellow-tint: #ffca22;
  --color-yellow-shade: #e0ac08;
  /* color green */
  --color-green: #2dd36f;
  --color-green-tint: #42d77d;
  --color-green-shade: #28ba62;
  /* color red */
  --color-red: #eb445a;
  --color-red-tint: #ed576b;
  --color-red-shade: #cf3c4f;
  /* color medium */
  --color-medium: #92949c;
  --color-medium-tint: #9d9fa6;
  --color-medium-shade: #808289;
  /* color white */
  --color-white: #f4f5f8;
  --color-white-tint: #f5f6f9;
  --color-white-shade: #d7d8da;
  /* color black */
  --color-black: #222428;
  --color-black-tint: #383a3e;
  --color-black-shade: #1e2023;
}

html { scroll-behavior: smooth; }

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh !important;
  overflow-x: hidden;
}

.menu-box {
  /*box-shadow: none;*/
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #AA954F;
  margin-bottom: 1rem;
}

#menu-globe {
  transition: transform 0.5s ease;
}

.menu-header-logo:hover #menu-globe {
  transform: rotate(360deg);
}

a, .MuiButton-text {
  text-decoration: none; /* Remove o sublinhado padrão */
  position: relative; /* Posiciona o elemento para a animação */
}

#header-hello a::before, .MuiButton-text::before {
  content: "";
  position: absolute;
  bottom: -2px; /* Ajusta a posição da linha */
  width: 0;
  height: 2px;
  background-color: #AA954F; /* Cor da linha */
  transition: width 0.4s ease-in-out; /* Duração e efeito da transição */
}

a:hover::before, .MuiButton-text:hover::before {
  width: 100%; /* Expanda a linha para 100% na hover */
}

.background-projects {
  background: linear-gradient(180deg, rgba(var(--background-start-rgb), 0) , rgba(72, 50,133, .87) 80%);
  /*opacity: 0.87;*/
}

.project-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.project-card-tag {
  background: var(--color-medium-tint);
  color: var(--color-black);
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.8rem;
}

.project-card > .project-card-title {
  margin: 1rem 0;
  color: var(--foreground-rgb);
  margin-bottom: 1rem;
  background: linear-gradient(45deg, var(--color-medium-tint), var(--color-white-tint));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-projects-title {
  color: var(--foreground-rgb);
  background: linear-gradient(45deg, var(--color-medium-tint), var(--color-white-tint));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-aboutme-title {
  color: var(--foreground-rgb);
  background: linear-gradient(45deg, var(--color-medium), var(--color-medium-tint), var(--color-medium-shade));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "BabaPro Bold", system-ui !important;
  font-size: 3.4rem !important;
  font-weight: 700 !important;
}
