@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  height: 100vh !important;
}

.header-group-langs-box {
  overflow: hidden;
  position: relative;
}

.header-group-langs-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, rgb(var(--background-end-rgb)), transparent 40%, transparent 60%, rgb(var(--background-end-rgb)));
  position: absolute;
  inset: 0;
}
