@import "tailwindcss";

@font-face {
  font-family: 'BabaPro Bold';
  src: url('/fonts/babapro/BabaPro-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 13, 13, 13;
  /* color blue */
  --color-blue: #3880ff;
  --color-blue-tint: #4c8dff;
  --color-blue-shade: #3171e0;
  /* color yellow */
  --color-yellow: #ffc409;
  --color-yellow-tint: #ffca22;
  --color-yellow-shade: #e0ac08;
  /* color green */
  --color-green: #2dd36f;
  --color-green-tint: #42d77d;
  --color-green-shade: #28ba62;
  /* color red */
  --color-red: #eb445a;
  --color-red-tint: #ed576b;
  --color-red-shade: #cf3c4f;
  /* color medium */
  --color-medium: #92949c;
  --color-medium-tint: #9d9fa6;
  --color-medium-shade: #808289;
  /* color white */
  --color-white: #f4f5f8;
  --color-white-tint: #f5f6f9;
  --color-white-shade: #d7d8da;
  /* color black */
  --color-black: #222428;
  --color-black-tint: #383a3e;
  --color-black-shade: #1e2023;
}

html { scroll-behavior: smooth; }

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh !important;
  overflow-x: hidden;
}

.menu-box {
  /*box-shadow: none;*/
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #AA954F;
  margin-bottom: 1rem;
}

#menu-globe {
  transition: transform 0.5s ease;
}

.menu-header-logo:hover #menu-globe {
  transform: rotate(360deg);
}

a, .MuiButton-text {
  text-decoration: none; /* Remove o sublinhado padrão */
  position: relative; /* Posiciona o elemento para a animação */
}

#header-hello a::before, .MuiButton-text::before {
  content: "";
  position: absolute;
  bottom: -2px; /* Ajusta a posição da linha */
  width: 0;
  height: 2px;
  background-color: #AA954F; /* Cor da linha */
  transition: width 0.4s ease-in-out; /* Duração e efeito da transição */
}

a:hover::before, .MuiButton-text:hover::before {
  width: 100%; /* Expanda a linha para 100% na hover */
}

.background-header-hello {
  background: linear-gradient(360deg, rgba(var(--background-start-rgb), .77) , rgba(var(--background-start-rgb), 0) 80%);
}

.background-projects {
  /*background: linear-gradient(180deg, rgba(var(--background-start-rgb), 0) , rgba(72, 50,133, .87) 80%);*/
  background: linear-gradient(180deg, rgba(var(--background-start-rgb), .77) , rgba(var(--background-start-rgb), .87) 80%);
  /*opacity: 0.87;*/
}

.background-aboutme {
  background: linear-gradient(360deg, rgba(var(--background-start-rgb), 1) , rgba(var(--background-start-rgb), .87) 100%);
  /*opacity: 0.87;*/
}

.project-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.project-card-tag {
  background: var(--color-medium-tint);
  color: var(--color-black);
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.8rem;
}

.project-card > .project-card-title {
  margin: 1rem 0;
  color: var(--foreground-rgb);
  margin-bottom: 1rem;
  background: linear-gradient(45deg, var(--color-medium-tint), var(--color-white-tint));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-projects-title {
  color: var(--foreground-rgb);
  background: linear-gradient(45deg, var(--color-medium-tint), var(--color-white-tint));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "BabaPro Bold", system-ui !important;
}

.section-aboutme-title {
  color: var(--foreground-rgb);
  background: linear-gradient(45deg, var(--color-medium-tint), var(--color-white-tint));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "BabaPro Bold", system-ui !important;
}

.section-aboutme-name {
  color: var(--foreground-rgb);
  background: linear-gradient(45deg, var(--color-medium-tint), var(--color-white-tint));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "BabaPro Bold", system-ui !important;
}

.box-image {
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 340px;
  height: 340px;
  background: rgba(04, 03, 05, .5);
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  left: 50%;
}

.box-image::before {
  content: "";
  position: absolute;
  /*width: 100%;*/
  /*height: 100%;*/
  inset: -10px 140px;
  background: linear-gradient(315deg, #fbff00, #00e1ff);
  animation: frame-box-image 4s linear infinite;
  transition: .5s ease;
}

.box-image:hover::before {
  inset: -20px 0;
}

.box-image::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #4b4b4b;
  border-radius: 50%;
  z-index: 1;
}

@keyframes frame-box-image {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box-content {
  position: absolute;
  inset: 15px;
  border: 6px solid #040305;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  user-select: none;
}

.box-image:hover .box-content img {
  opacity: 0;
}

.box-content img {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
}

.box-content p {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.box-content p span {
  font-weight: 300;
  font-size: .75em;
}

.box-content > span {
  font-size: 2.5em;
}

.box-content a {
  margin-top: 10px;
  background: #fff;
  padding: 10px 20px;
  color: #6b6b6b;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em;
  border-radius: 25px;
  transition: .5s;
  z-index: -10;
}

.box-content a:hover {
  letter-spacing: .2em;
}
